body {
    background-color: #000;
    color: #fff;
}

.first__upper:first-letter {
    text-transform: uppercase;
}
.push--bottom {
    margin-bottom: 10px;
}
.width__max {
    width: 100% !important;
    max-width: 2000px;
}
.pull-right {
    float: right !important;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*Context menu*/

#context-menu {
    position: fixed;
    z-index: 10000;
    width: 200px;
    background: #1b1a1a;
    border-radius: 5px;
    display: none;
}

    #context-menu.visible {
        display: block;
    }

    #context-menu .item {
        padding: 8px 10px;
        font-size: 15px;
        color: #eee;
        cursor: pointer;
        border-radius: inherit;
        display: none;
    }

        #context-menu .item.visible {
            display: block;
        }

        #context-menu .item:hover {
            background: #343434;
        }
