@page
@model IndexModel
@{
    ViewData["Title"] = "B2G Service Map";
}

<div class="container width__max">
    <div id="context-menu">
        <div id="todo-mi" class="item">TODO</div>
    </div>
    <div class="row">
        <div class="col-sm-12 push--bottom">
            <div class="first__upper pull-right"><strong><span id="updatedTime"></span></strong></div>
        </div>
    </div>
    <div class="row" id="panelWrapper"></div>
</div>
